<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>맛집 정보 목록</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .filled-star {
        color:  #FFA500; /* 노란색 별 */
    }
  </style>
</head>
<body>
<div class="container mt-5">
  <h2 class="mb-4">맛집 정보 목록</h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>위치</th>
      <th>전화번호</th>
      <th>별점</th>
      <th>음식종류</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
      <td th:text="${board.title}"></td>
      <td th:text="${board.content}"></td>
      <td th:text="${board.location}"></td>
      <td th:text="${board.phone}"></td>
      <td>
        <span th:each="star : ${#numbers.sequence(1, board.rate)}" class="filled-star">&#9733;</span>
      </td>
      <td th:text="${board.foodType}"></td> <!-- 음식 종류 표시 -->
      <!--      <td><img th:if="${board.picture}" th:src="@{'/uploads/' + ${board.picture}}" alt="Image preview" class="table-img"/></td>-->
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>